// STORY ABOUT US
.about {
    height: 100%;
    &__items{
        margin-bottom: 11rem;
        text-align: center;

    }
}
.about__item{
    display: inline-block;
    background-color: $lightblue;
    position: relative;
    cursor: pointer; 

    &:hover .about__item-img img{
        opacity: .4;
    }
    &:hover .about__item-logo{
        display: block;
    }
    &:hover .about__item-name{
        display: block;
    }
    &:hover .about__item-img {
        transform: translate(-10px, -10px);
    }

    &-img{
        background: linear-gradient(to bottom, #fce38a, #f38181);
        transition: all .2s ease;
        & img{
            transition: all .4s ease;
            width: 100%;
            
        }
    }

    &-logo{
        display: none;
        position: absolute;
        top: calc(100%/2 - 25px);
        left: 0;
        right: 0;
        text-align: center;

    }
    &-name{   
        display: none;     
        position: absolute;
        top: calc(100%/2 + 10px);
        left: 0;
        right: 0;
        text-align: center;
        color: $white;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: bold;
    }

    
}



// STATS
.stats{
    background-color: #95e1d3;
    &-items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    &__item{
        // Чтобы сделать все элементы флекса одинаковыми по ширине и чтобы занимали всё пространство!
        flex: 1 1 0;
        padding: 90px 0;
        border-right: 1px solid #b5eae0;
        text-align: center;
        &:first-child{
            border-left: 1px solid #b5eae0;
        }
    }
    &__num{
        font-size: 7.2rem;
        font-weight: bold;
        color: $white;
    }
    &__desc{
        font-size: 1.4rem;
        color: $white;
    }
}



// AMAZING SERVICES
.services{
    margin-bottom: 10rem;
}
.row-line{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
}
.service{

    &__item{
        display: flex; 
        justify-content: space-between;
        &:hover .service__logo{
            transform: translateY(-4px);
        }

    }
    &__logo{
        height: 100%;
        padding: 5px 30px 0 30px;
        transition: transform .3s ease;
        
    }
    &__text{
        text-align: start;
        flex: 1 1 0;
    }
    &__title{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #333333;
        font-weight: 500;
        
    }
    &__desc{
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        line-height: 2.4rem;
        color: #999999;
    }

}


// UNIQUE DESIGN
.design{
    background: url('../../assets/img/design-bgc.png') center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 850px ;
    background-color: #e6e6e6;
    margin-bottom: 11rem;

    &__examples{
        position: relative;
    }

    &__laptop{
        position: absolute;
        // top: -45px;
        // left: 24%;
        top: calc(100%/2 - 44px);
        right: calc(100%/2 - 263px);
    }
    &__mobile{
        position: absolute;
        // top: 190px;
        // right: 219px;
        top: calc(100%/2 + 191px);
        left: calc(100%/2 + 98px);
    }
}



// WHAT WE DO
.wedo{
    height: 100%; 
    margin-bottom: 12rem;

    &__examples{
        text-align: center;
    }
    &__block {
        width: 100%;
        display: inline-block; 
    }
    &__block-img{
        background: url('../../assets/img/man.png') center no-repeat;
        width: 100%;
        min-height: 380px;

    }
    &__item{
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-bottom: 1rem;

        &-header{

            display: flex;
            align-items: center;
            justify-content: start;
            flex-wrap: nowrap;
            border: 1px solid #e5e5e5;
            position: relative;
            cursor: pointer;
            &::after{
                content:'';
                background: url('../../assets/img/arrow.png') center no-repeat;  
                width: 22px;
                height: 22px;
                display: block;
                position: absolute;
                right: 30px;
            };
            &:hover{
                background-color: rgb(240, 239, 239);
            }

            &-logo{
                padding: 15px 20px;
                & img{
                    width: 32px;
                }
            }
            &-title{
                min-width: 100%;
                font-size: 1.4rem;
                font-weight: 500;
                text-transform: uppercase;
                position: relative;
                align-items:center;
            }
            &-btn{
                position: absolute;
                right: 30px;
                border: none;
                border: none;
                background: transparent;
                transition: rotate 1s ease;
            }
        }
        &-desc{
            border: 1px solid #e5e5e5;
            border-top: 0;
            padding: 25px 20px;
            font-size: 1.5rem;
            font-family: 'Roboto', serif;
            color: $lightgrey;
            display: none;            
            max-height: 165px;
            overflow-y: scroll;
            
        }
    }
}
// Стиль скрола
.wedo__item-desc::-webkit-scrollbar {
    width: 5px;
    background-color: #f9f9fd;
  }
  
.wedo__item-desc::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #95e1d3;
}
  
.wedo__item-desc::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f9f9fd;
}
// FOR JS
.wedo{
    &-active{
        background-color: rgb(240, 239, 239);
        // Переворачивает стрелку
        &::after{
            transform: rotate(.5turn);
        }
    }
    &-show{
        display: block;
    }
}

// Цитаты
.quotes {
    background-color: #f8f8f8;
    margin-bottom: 10rem ;
}
.quote{
    display: flex;
    padding: 60px 0;
    position: relative;
    justify-content: space-between;
    text-align: center;

    &__item{
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 100px;
        align-items: center;
        &-img{
            display: block;
            & img {
                border:3px #95e1d3 solid;
                padding: 40px;
            }
        }
        &-desc{
            padding: 0  0  0 60px;
            // flex: 1 1 0;
            // display: flex;
            // flex-direction: column;
            text-align: start;
            &-p{
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                font-weight: 300;
                font-size: 2.4rem;
                line-height: 36px;
                color: $lightgrey;
            }
            &-sign{
                font-family: 'Kaushan Script', cursive;
                font-size: 2.4rem;
                position: relative;
                padding-left: 70px;
                &::before{
                    content:'';
                    display: block;
                    width: 60px;
                    border-bottom: 3px solid $red;
                    position: absolute;
                    top:50%;
                    left: 0; 
                }
            }
        }
    }
  
    // Ниже стили ручного слайдера, также надо добавить текст &#8249; для < и &#8250; для >
    // &__left,
    // &__right{
    //     cursor: pointer;
    //     position: absolute;
    //     padding: 30px 30px 40px 30px;
    //     border-radius: 8px;
    //     font-size: 40px;
    //     color:rgba(158, 155, 155, 0.8);
    //     margin: auto;
    //     // background: url(../../assets/img/arrow-left.png) center no-repeat;
    //     &:hover{
    //         background-color: rgba(0, 0, 0, 0.1);
    //         color:rgba(158, 155, 155, 1);
    //         transition: 0.2s;
    //     }
    // } 
    // &__right{
    //     right: 0;
    //     // background: url(../../assets/img/arrow-right.png) center no-repeat;
    // }
    
}
.swiper-button-prev,
.swiper-button-next {
  color: $lightgrey;
  transform: scale(70%);
  opacity: 30%;
  transition: all .3s ease;

}
.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  opacity: 1;
}


// Meet our team
.team{
    &__items{
        margin-bottom: 120px;
        text-align: center;
    }
    &__item{
        text-align: center;
        position: relative;
        display: inline-block;

        &:hover .team__item-urls{
            opacity: 1;
        }

        &-bgc{
            background: $lightblue;
            display: inline-block;
            cursor: pointer;

            &:hover .team__item-img img{
                opacity: .4;
            }
            &:hover .team__item-img{
                transform: translate( -10px, -10px);
            }         
        }
        
        &-img{
            background: linear-gradient(to bottom, #fce38a, #f38181);
            transition: all .2s ease; 
            & img{
                width: 100%;
                transition: all .4s ease-in-out;     
            }
        }
        
        &-urls{
            display: flex;
            opacity: 0;
            flex-direction: row;
            position: absolute;
            top: 40%;
            left: 20%;
            transition: .3s  ease-in-out;

            & i {
                font-size: 27px;
                color:  #f38181;
                margin: 15px 0;
            }
            &-url {
                margin-right: 1px;
                width: 56px;
                height: 56px;
                background-color: $yellow;
                cursor:pointer;
                &:hover{
                    background-color: $red;
                    color: $white;
                }
                &:hover i{
                    color: $white;
                }

            }      
        }
        &-name{
            margin-top: 30px;
            font-size: 1.4rem;
            line-height: 24px;
            font-weight: 600;
            text-transform: uppercase;
        }
        &-prof{
            margin-top: 10px;
            font-size: 1.5rem;
            line-height: 24px;
            font-weight: 300;
            font-family: "Roboto", sans-serif;
            font-style: italic;
            color: $lightgrey;
        }

    }
}

// Brands
.brands {
    height: auto;
    background-color: #f8f8f8;
    padding: 34px 0;
    &__items{
        width: 100%;
        text-align: center;
        & div {
            padding-left: 40px;
        }
    }
    
}


//Examples
.examples{
    margin-bottom: 10rem;
    &-photos{
        display: flex;
        max-width: 1920px;
        margin: 0 auto; 
    }
    & .col-6 {
        padding: 0;
    }
    &-col{
        flex: 1 1 0;
    }
    &__item{
        position: relative;
        display: inline-block;
        cursor: pointer;

        &:hover .examples__img img{
            opacity: 0.4;
        }
        &:hover .examples__inner{
           opacity: 1;
           transform: scale(100%);
        }
    }
    &__img{
        background: linear-gradient(to bottom, #fce38a, #f38181);
    }
    &__img img{
        transition: all 0.3s ease;
        max-width: 100%;
        height: auto;
    }
    &__inner{
        position: absolute;
        color: #fff;
        width: 100%;
        text-align: center;
        z-index: 1;
        top: 34%;
        opacity: 0;
        transform: scale(110%);
        transition: all 0.6s ease;
       
        &-logo{
            margin-bottom: 20px;
        }
        &-logo i{
            font-size: 30px;
        }
        &-title{
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        &-desc{
            font-size: 15px;
            font-weight: 300;
            font-family: 'Roboto', sans-serif;
            font-style: italic;
        }

    }

}

// Quote 2 Всё тоже самое что и на квоте выше, кроме аватарки quote__item-photo и его содерждимого
.quotes-second{
    background-color: none;
    margin-bottom: 130px;
}
.quote__item-photo-second{
    border-radius:50%;
    overflow: hidden;

}


// Clients
.clients{
    background: #d9d9d9 url('../../assets/img/clients-bgc.png')  center no-repeat;
    padding-bottom: 130px;
    background-size: cover;
    background-attachment: inherit;
    
    &-block{
        margin: 40px 0 0;

    }
    &__item{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        &:hover .clients__item-img img {
            opacity: 1;
        }
        &-img{
            margin: 0 30px;
            cursor: pointer;
        }
        &-img img{
            opacity: .9;
            transition: all .3s ease-out;
        }
        &-info{
            display: flex;
            flex-direction: column;
            margin-right: 30px;
            &-name{
                font-size: 1.4rem;
                color: #333333;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 10px;
            }
            &-prof{
                font-family: 'Roboto', serif;
                font-size: 1.5rem;
                line-height: 2.4rem;
                font-style: italic;
                font-weight: 300;
                position: relative;
                color: #333333;
                padding-bottom: 20px;
                margin-bottom: 20px;
                &::after{
                    content: '';
                    border-bottom: 3px solid #f38181;
                    position: absolute;
                    width: 6rem;
                    left: 0;
                    bottom: 0;
                }
            }
            &-desc{
                font-family: 'Roboto', serif;
                font-size: 1.5rem;
                line-height: 2.4rem;
                color: #999999;
            }
        }
    }
}

// Blog
.blog{
    &__block{
        text-align: center;
    }
    margin-bottom: 100px;
    &__item{
        cursor: pointer;
        max-width: 483px;
        display: inline-block;
        margin-bottom: 40px;
        
        &-img  {
            position: relative;
            margin-bottom: 20px;
            background-color: red;
            &:hover .blog__item-img-data{
                left: 0;
            }
            & img {
                width: 100%;
                height: auto; 
            }
            &-data{
                text-align: center;
                position: absolute;
                bottom: 10px;
                left: -10px;
                width: 60px;
                height: 70px;
                background-color: #95e1d3;
                color: #fff;
                font-size: 2.7rem;
                font-weight: bold;
                transition: all .3s ease;                
                & span{
                    display: block;
                    font-size: 1.4rem;
                    font-weight: 300;
                    font-style: italic;
                    opacity: .8;

                }
            }
        }
        
        &-info{
            text-align: left;
            color: #999999;
            &-title{
                color: #333333;
                text-transform: uppercase;
                font-size: 1.4rem;
                font-weight: 600;
                margin-bottom: 10px;
            }
            &-desc{
                font-size: 1.5rem;
                line-height: 24px;
                font-family: 'Roboto', sans-serif;
                border-bottom: 1px solid #e5e5e5;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
            &-views{
                display: inline-block;
                font-size: 1.5rem;
                line-height: 24px;
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                margin-right: 20px;
                &:before{
                    content: '';
                    background: url('../../assets/img/view.png') center no-repeat;
                    padding-right: 20px;
                    margin-right: 5px;
                }

            }
            &-comments{
                display: inline-block;
                font-size: 1.5rem;
                line-height: 24px;
                font-family: 'Roboto', sans-serif;
                font-style: italic;
                &::before{
                    content: '';
                    background: url('../../assets/img/comments.png') center no-repeat;
                    padding-right: 20px;
                    margin-right: 5px;
                }
            }
        }

    }

}

// MAP
.map{
    background-color: #d9d9d9;
    margin-bottom: 80px;
    position: relative;
    &__info{
        position: absolute;
        top:50%; 
        left: 50%;
        transform:translate(-50%, -50%); 
        text-align: center;
        opacity: 1;
        transition: all .2s ease;
        opacity: .6;
        cursor: pointer;
        &.disable{
            display: none;
        }
        &:hover{
            opacity: 1;
        }
        // &:hover .map__google {
        //     opacity: 1;
        // }
        &-pin{
            margin-bottom: 10px;
        }
        &-text{
            text-transform: uppercase;
            font-size: 24px;
            font-weight: bold;
            color: $red;
            position: relative;
            padding-bottom: 15px;

              &::after{
                content: "";
                position: absolute;
                width: 60px;
                height: 3px;
                background-color: $red;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }                


        }
    }
    &__close{
        position: absolute;
        top: 10px;
        right: 10px;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: visibility 0s, opacity 0.5s linear;

        &.active{
            visibility: visible;
            opacity: 1;
            pointer-events: all;
            background-color: rgb(19, 19, 19, .7);
            border-radius: 20px;
            &:hover{
                background-color: $red;
            }
            &:hover button{
                opacity: 1;
                color: black;
            }
        }
        

        & > button{
            padding: 10px 25px;
            cursor:pointer;
            text-transform: uppercase;
            text-transform: uppercase;
            font-size: 17px;
            font-weight: bold;
            color: $red;
            background-color: transparent;
            border: none;
            opacity: .7;
            // &:hover{

            // }
            // &:hover ~ .map__close.active{
            //     background-color: $red;
            // }

        }
        & i{
            color:$red;
            font-size: 24px;
        }
        &:hover  i {
            color: $white;
        }
    }
    &__google{
        background-color:black;
        opacity: .1;
        width: 100%;
        height: 200px;
        transition: all .3s ease-in;
        pointer-events: none;
        &.active{
            height: 70vh;
            opacity: 1;
            pointer-events: all;
        }
    }


}



// .examples__item{
//     display: block;
//     width: 100%;
//     &:hover .examples__item-logo{
//         display: block;
//     }
//     &:hover .examples__item-title{
//         display: block;
//     }
//     &:hover .examples__item-desc{
//         display: block;
//     }
// }







// .about {
//     height: 100%;
//     &__items{
//         margin-bottom: 11rem;
//         text-align: center;

//     }
// }
// .about__item{
//     display: inline-block;
//     background-color: $lightblue;
//     position: relative;
//     cursor: pointer; 

//     &:hover .about__item-img img{
//         opacity: .4;
//     }
//     &:hover .about__item-logo{
//         display: block;
//     }
//     &:hover .about__item-name{
//         display: block;
//     }
//     &:hover .about__item-img {
//         transform: translate(-5px, -5px);
//     }

//     &-img{
//         background-color: $lightblue;
//         background: linear-gradient(to bottom, #fce38a, #f38181);
//         transition: all .2s ease;
//         & img{
//             transition: all .4s ease;
//             width: 100%;
            
//         }
//     }

//     &-logo{
//         display: none;
//         position: absolute;
//         top: calc(100%/2 - 25px);
//         left: 0;
//         right: 0;
//         text-align: center;

//     }
//     &-name{   
//         display: none;     
//         position: absolute;
//         top: calc(100%/2 + 10px);
//         left: 0;
//         right: 0;
//         text-align: center;
//         color: $white;
//         text-transform: uppercase;
//         font-size: 1.8rem;
//         font-weight: bold;
//     }

   




@media (max-width: 992px){

    .stats__num{
        font-size: 6.4rem;
    }
    .quote__item-img img{
        padding: 20px;
    }
    .quote__item-desc-p{
        font-size: 2rem ;
    }
    .team__item-name{
        margin-top: 10px;
    }
    .team__item-prof{
        margin-top: 0;
    }
    .quote__item-photo img{
        width: 80%;
    }
    .quote__item-desc{
        padding-left: 30px;
    }
}

@media (max-width: 768px){

    .stats-items{
        flex-direction: column;
    }
    .stats__item{
        padding: 30px 0;
        border-bottom: 1px solid #b5eae0; 
    }
    .stats__item:last-child{
        border-bottom: 1px solid transparent;
    }
    .stats__num{
        font-size: 6rem;
    }
    .quote__item-img img{
        padding: 20px;
    }
    .quote__item-desc{
        padding: 0 0 0 40px;
    }
    .quote__item-desc-p{
        font-size: 1.8rem ;
    }
    .quote__item-desc-sign{
        font-size: 2rem;
    }
    .quote__item-img{
        display: none;
    }
    .quote__item-photo {
        display: none;
    }
    .quote__item-desc{
        padding-left: 0;
    }
}

@media (max-width: 650px){
    .design__mobile{
        display: none;
    }
}

@media (max-width: 576px){

    .stats__item{
        padding: 15px 0;
        border-bottom: 1px solid #b5eae0; 
    }
    .stats__num{
        font-size: 5.6rem;
    }
    .quote__item-img{
        display: none;
    }
}

    
