<div class="intro">
    <div class="container intro-page">

        <!-- Header -->
        <header class="header">
            <a href="index.html" class="intro__logo">MoGo</a>

            <a href="#" class="menu-burger">
                <span class="menu-burger-lines"></span>
            </a>

            <nav class="nav">
                <a class="nav__link  link  href=" #"">About</a>
                <a class="nav__link  link href=" #"">Service</a>
                <a class="nav__link  link href=" #"">Work</a>
                <a class="nav__link  link href=" #"">Blog</a>
                <a class="nav__link  link href=" #"">Contact</a>
                <a class="nav__link  nav__link-basket link" href="index2.html"><svg xmlns="
                    http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
                        viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg><span>Cart</span></a>
                <a class="nav__link nav__link-loop link " href=" #"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg><span>Search</span></a>
            </nav>

        </header>

        <!-- Mogo -->
        <div class="mogo">
            <h2 class="mogo__template"><span class="cursive">Creative Template</span></h2>
            <h1 class="mogo__welcome">Welcome<br> to mogo</h1>
            <a class="mogo__btn" href="#">Learn more</a>
        </div>

        <!-- Slider -->
        <div class="slider row">
            <div class="col-12 col-sm-3  gy-4 link">
                <div class="slider__item active">
                    <span>01</span>Intro</div>
            </div>
            <div class="col-12 col-sm-3  gy-4  link">
                <div class="slider__item">
                    <span>02</span>Work</div>
            </div>
            <div class="col-12 col-sm-3  gy-4   link">
                <div class="slider__item">
                    <span>03</span>About
                </div>
            </div>
            <div class="col-12 col-sm-3  gy-4 link">
                <div class="slider__item">
                    <span>04</span>Contacts
                </div>
            </div>
        </div>
    </div>
</div>